@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Afacad Flux", serif;
}

.main{
  height: calc(100% - 90px);
}

.shadow{
  box-shadow: 0px 0px 3px 0px ghostwhite !important;
}
.shadowNav{
 box-shadow:  0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.shadwos-2{
  box-shadow: 0px 0px 14px 1px rgb(193, 181, 181);
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

:root {
  --scrollbar-track: #f0f0f0; 
  --scrollbar-thumb: #4e73df; 
}

.dark {
  --scrollbar-track: #1e1e1e; 
  --scrollbar-thumb: #444444; 
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track); 
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); 
}
